@model HeCon_webapp.Models.XRay

@{
    ViewBag.Title = "Your XRays";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>


@foreach (HeCon_webapp.Models.XRay xray in ViewBag.XraysList)
{
    @Html.Partial("XRay", xray);
    <br />
}



