@{
    ViewBag.Title = "About";
}

<div class="jumbotron" background="~/Images/grey_background.jpg">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>REALIZATORI:</p> <br />
    Belcineanu Alexandru-Ioan <br />
    Constantin Razvan <br />
    Croitoru Florinel-Alin <br />
    Ion Stefan-Cristian <br />
    Nedelcu Andreea<br />
</div>