@{
    ViewBag.Title = "Home Page";
}

<style>
    .s {
    width:100%;
    height: 280px;
    
    }

</style>

<div class="jumbotron">
    <h1>Medical Imagistic - Xray Diagnose</h1>
    <p class="lead">Now you can check your radiography from home. Ask a doctor for more details.</p>
    <p class="lead">Artificial Intelligence leads your way to the safety and comfort of the 21st century.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <img  class="s" src="~/Images/chest_xray1.jpg" />
    </div>
    <div class="col-md-6">
        <img  class="s"  src="~/Images/hecon.jpg" />
    </div>
</div>


