@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medical Imagistic - Xray Diagnose</h1>
    <p class="lead">Now you can check your radiography from home. Ask a doctor for more details.</p>
    <p class="lead">Artificial Intelligence leads your way to the safety and comfort of the 21st century.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <img style="width:100%;" src="~/Images/chest_xray.jpg" />
    </div>
    <div class="col-md-6">
        <img style="width:100%" class="img-rounded" src="~/Images/hecon.jpeg" />
    </div>
</div>


