
<div class="panel panel-default">
    <div class="panel-heading">@(Model.PatientName == null ? "" : Model.PatientName) </div>
    <div class="panel-body">
        Varsta: <strong>@(Model.Age == null ? "" : Model.Age) </strong>

    </div>
</div>
<br />


