@model HeCon_webapp.Models.DoctorProfile

<div class="panel panel-default">
    <div class="panel-heading">@Model.DoctorName</div>
    <div class="panel-body">
        Descriere: <strong>@Model.Description</strong>

    </div>
</div>
<br />


