@model HeCon_webapp.Models.XRay

<div class="panel panel-default">

    <strong style="font-size:200%">@Model.Title</strong>

    <div class="panel-body">

        @if (Model.ImagePath != null)
    {
        <fieldset>
            <div style="padding:10px">
                <img class="img-responsive" src="@Url.Content(Model.ImagePath)" alt="Image" style="width:200px" />
            </div>

        </fieldset>
}

        <br />

        <span class="label label-success">
            The probability of having pneumonia is: <br />
        </span>
        <span class="btn btn-warning">
            <font size="6">@Model.Prediction.positive_probability</font>
        </span>

        <br />

        <strong style="font-size:150%">Comments</strong>
        <hr />

        @foreach (var comment in (List<HeCon_webapp.Models.Comment>)ViewBag.Comments)
    {
        if (comment.ImageId == Model.ImageId)
        {
            @Html.Partial("CommentInfo", comment);
        <br />
}
}

        <br />
        <a class="btn btn-sm btn-success" href="/Comment/New/@Model.ImageId" style="float:right">Comment on this XRay</a>
        <br />

    </div>

    <!-- UserIdCurrent = cel care vede acum /  -->
    @if (Model.UserId == ViewBag.UserIdCurrent)
    {
        if (Model.PermissionToDoctor == 0)
        {

            <form method="post" action="/XRay/ModifyPermission/@Model.ImageId">
                <button class="btn btn-sm btn-success" type="submit">
                    Cere sfatul medicului
                </button>
            </form>
        }
        else
        {
            <form method="post" action="/XRay/ModifyPermission/@Model.ImageId">
                <button class="btn btn-sm btn-info" type="submit">
                    Nu mai permite accesul medicului
                </button>
            </form>
        }
    }

    <br />

</div>